---
const { title, desc } = Astro.props;
---
<div class="block" id={title}>
    <div class="notification has-background-primary-soft product-view">
        <div class="content">
            <h1 class="title has-text-centered">
                {title}
            </h1>
            <p class="has-text-centered">
                {desc}
            </p>
        </div>
        <div class="grid is-col-min-10">
            <slot />
        </div>
    </div>
</div>

<style>
    .product-view {
        border-radius: 10px;
    }
</style>