---
const { title } = Astro.props;
---
<br>
<div class="block">
    <div class="notification has-background-primary-soft">
        <h1 class="title has-text-centered">
            {title}
        </h1>
        <div class="grid is-col-min-10">
            <slot />
        </div>
    </div>
</div>