---
import Layout from "../../layouts/Layout.astro";
import ProductView from "../../components/products/ProductView.astro";
import CategoryButton from "../../components/CategoryButton.astro";

const allProducts = Object.values(import.meta.glob('/src/pages/products/*.md', { eager: true }));
const categories = [...new Set(allProducts.map((product: any) => product.frontmatter.category).flat())];
---

<Layout pageTitle="Categories"><br>
    <div class="container is-fluid">
        <ProductView title="Categories">
                    {categories.map((category) => (
                        <div class="cell"><CategoryButton category={category} /></div>
                    ))}
        </ProductView>
    </div>
</Layout>