---
import Layout from "../../layouts/Layout.astro";
import CategoryList from "../../components/CategoryList.astro";
---

<Layout pageTitle="Categories"><br>
    <div class="container is-fluid">
        <CategoryList />
    </div>
</Layout>