---
import Layout from '../layouts/Layout.astro';

import ProductsView from '../components/products/ProductView.astro'
import ProductsList from '../components/products/ProductsList.astro';

const pageTitle = "Inspirational Creations";
---

<Layout pageTitle={pageTitle}>
	<div class="container is-fluid">
		<br>
		<ProductsView title="View All Products">
			<ProductsList />
		</ProductsView>
	</div>
</Layout>
