---
import Layout from '../layouts/Layout.astro';

import HeaderHero from '../components/HeaderHero.astro';
import AboutUs from '../components/AboutUs.astro';
import HowToOrder from '../components/HowToOrder.astro';
import ProductsView from '../components/products/ProductView.astro'
import ProductsList from '../components/products/ProductsList.astro';

const pageTitle = "Inspirational Creations";
---

<Layout pageTitle={pageTitle}>
	<HeaderHero />
	<div class="container is-fluid">
		<AboutUs />
		<HowToOrder />
		<ProductsView title="View All Products">
			<ProductsList />
		</ProductsView>
	</div>
</Layout>
