---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "Inspirational Creations";
---

<Layout pageTitle={pageTitle}>
	<p>Test</p>
</Layout>
