---

---
<div class="block">
    <div class="notification has-background-primary-soft">
        <div class="content">
            <h1>About us</h1>
            <p>Put text here</p>
        </div>
    </div>
</div>