---
const date = new Date()
d.setHours(d.getHours() - 5) // The server runs this code in UTC, but it needs to be the time in EST

const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

const year = date.getFullYear();
const month = months[date.getMonth()];
const day = date.getDate();
---

<footer class="footer" id="footer">
    <div class="content has-text-centered">
        <p>This website was last updated on {month} {day}, {year}.</p>
        <p>
            Website created by <a href="https://dawsoncall.com">Dawson Call</a>. 
            The source code is available on <a href="https://github.com/Inspirational-Creations/Inspirational-Creations.github.io">GitHub</a>.
        </p>
    </div>
</footer>

<style>
    #footer {
        flex-shrink: 0;
    }
</style>
