---
const HeroTitle = "Inspirational Creations";
const HeroSubtitle = "This is a subtitle";
---
<div class="hero is-medium is-primary">
    <div class="hero-body">
        <p class="title">{HeroTitle}</p>
        <p class="subtitle">{HeroSubtitle}</p>
    </div>
</div>
<br>
