---
const HeroTitle = "Inspirational Creations";
const HeroSubtitle = "This is a subtitle";
---
<div class="hero is-medium is-primary">
    <div class="hero-body has-text-centered">
        <p class="title">{HeroTitle}</p>
        <p class="subtitle">{HeroSubtitle}</p>
    </div>
</div>
<br>

<style>
    .hero {
        border-radius: 0px 0px 10px 10px;
    }
</style>