---
// Import statement
import * as HowToOrder from '../content/how-to-order.md';

const Content = HowToOrder.Content;

const title = HowToOrder.frontmatter.title == null ? HowToOrder.frontmatter.title : "How to Order";

---
<div class="container is-fluid" id={title}>
    <div class="notification has-background-primary-soft">
        <div style="text-align: center;">
            <h1 class="title">{title}</h1>
            <div class="content">
                <Content />
            </div>
        </div>
    </div>
</div>