---
import ProductCard from "../components/ProductCard.astro";

const products = Object.values(import.meta.glob('../pages/products/*.md', { eager: true }));
---
<div class="block">
    <div class="notification has-background-primary-soft">
        <h1 class="title has-text-centered">
            View All Products
        </h1>
        <div class="grid is-col-min-10">
            {products.map(product => 
                <div class="cell">
                    <a href={product.url}><ProductCard frontmatter={product.frontmatter} /></a>
                </div>
            )}
        </div>
    </div>
</div>
