---
import "/src/styles/global.scss";

import Alert from "../components/Alert.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png"/>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A business specializing in creating hand-crafted products, run by two sisters.">
		<title>{pageTitle}</title>

		<!-- Meta properties for sharing on Facebook -->
		<meta property="og:title" content="Inspirational Creations" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://inspirationalcreations.net" />
		<meta property="og:image" content="https://inspirationalcreations.net/_astro/robin-and-denise.keIhgumk_1hAwO5.webp" />
		<meta property="og:description" content="Inspirational Creations is a small business, run by sisters Robin and Denise, specializing in making hand-made products. This website lists all of the products we sell." />

	</head>
	<body>
		<div class="not-footer">
			<Alert />
			<NavBar />
			<main role="main">
				<slot />
			</main>
			<br>
		</div>
		<Footer />
	</body>
</html>

<style>
	html, body {
		height: 100%;
	}
	body {
		display: flex;
		flex-direction: column;
	}
	.not-footer {
		flex: 1 0 auto;
	}
</style>
