---
import "../styles/global.scss";

import HeaderHero from "../components/HeaderHero.astro";
import NavBar from "../components/NavBar.astro";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!--  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<NavBar />
		<slot />
	</body>
</html>
